:root {
  --primary: #11998e;
  --secondary: #38ef7d;
  --white: #fff;
  --gray: #9b9b9b;
}

.formContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    left: 50%;
    top: 70%;
}


#image_display {
    position: absolute;
    transform: translate(-50%, -100%);
    width: 55vh;
    border-radius: 10px;
    height: 55vh;
    left: 50%;
    top: 60%;
    box-shadow: 0 4px 8px 0 black;
}

#searchBox {
  position: absolute;
  transform: translate(-50%, 0%);
  top: 35%;
  left: 50%;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  text-align: center;
  background: transparent;
  transition: border-color 0.2s;
  z-index: 999;
}

#searchBox::placeholder {
  color: transparent;
}

#searchBox:focus, #searchBox:hover {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}

.form_label {
  position: absolute;
  transform: translate(-50%, 100%);
  left: 50%;
  top: 20%;
  display: block;
  text-align: center;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--gray);
}

#searchBox:placeholder-shown ~ label {
  font-size: 1.3rem;
  cursor: text;
  top: 30%;
}

#searchBox:focus ~ .form_label {
    position: absolute;
    top: 20%;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;
}

/* reset input */
#searchBox{
  &:required,&:invalid { box-shadow:none; }
}

#btn_submit {
  position: absolute;
  transform: translate(0%, 0%);
  background-color: rgb(20, 150, 90);
  border: solid transparent;
  border-radius: 10px;
  box-shadow: 2px 4px 9px 0 rgb(10,10,10);
  transition: 0.07s;
  color: white;
  width: 130px;
  height: 30px;
  margin-left: 10px;
  top: 46%;
  left: 100%;
  font-size: 18px;
}

#btn_submit:active {
  box-shadow: 0 0 0 0 rgb(10,10,10);
  border: 3px solid rgb(30, 200, 120);
  transform: scale(0.96);
}

/* demo */
body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}

#result {
  position: absolute;
  top: 72%;
  width: 30vw;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  border: 1px solid rgba(100,100,100,0.7);
  /* padding: 2px; */
}

#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#result ul li {
  padding: 5px 0;
  transition: 0.3s;
}
#result ul li:hover {
  background: rgba(0,153,86, 0.8);
}
