.video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    /* Change position to absolute if you don't want it to take up the whole page */
    left: 0;
    top: 0;
    z-index: -1;

    /* Filters */
    filter: brightness(0.3) invert(10%);
}
