.btn.dropdown-toggle  {
    width:150px;
    text-align:left;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

.btn-success {
    background-color: #3b7d4a!important;
}

.btn-success:hover {
    background-color: #4daf64!important;
}

.imageContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    left: 50%;
    top: 35%;
}

#image_display {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 30vh;
    left: 50%;
    top: 50%;
}

.formContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vh;
    left: 50%;
    top: 70%;
}

#searchBox {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20vw;
    left: 50%;
}

#submitButton {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30vw;
    left: 50%;
    top: 20%;
}

#btn_submit {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20vw;
    left: 50%;
}
