:root {
  --bg-color: #FF1694;
}

#volumeSlider {
  position: absolute;
  transform: translate(-50%, 0%);
  margin-top: 0px;
  left: 45%;
  height: 100px;
  width: 350px; /* Width of the outside container */
  z-index: 999;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 300px; /* Full-width */
  height: 25px; /* Specified height */
  background: rgba(200,200,200,0.3); /* Grey background */
  margin-left: 50px;
  margin-top: 0px;
  visibility: hidden;
  opacity: 0; /* Set transparency (for mouse-over effects on hover) */

  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s margin-top 1s visibility 0s;
  transition-delay: 1s;
  overflow: hidden;
  border-radius: 12.5px;
}

#volumeSlider:hover .slider {
  visibility: visible;
  opacity: 0.7;
  margin-top: 64px;
  transition-delay: 0.3s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 0.9; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 1px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--bg-color);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 1px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--bg-color);
  cursor: pointer; /* Cursor on hover */
}

.slider::-webkit-slider-runnable-track {
  height: 24px;
  -webkit-appearance: none;
  color: var(--bg-color);
}

.slider::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none;
  height: 25px;
  cursor: ew-resize;
  background: var(--bg-color);
  box-shadow: -200px 0 0 200px var(--bg-color);
}


@keyframes gg-bar {
    10% {box-shadow: inset 0 -4px 0}
    30% {box-shadow: inset 0 -10px 0}
    60% {box-shadow: inset 0 -6px 0}
    80% {box-shadow: inset 0 -8px 0}
    to {box-shadow: inset 0 -2px 0}
}
.gg-loadbar-sound,
.gg-loadbar-sound::after,
.gg-loadbar-sound::before {
    display: block;
    box-sizing: border-box;
    width: 1.5px;
    height: 12px;
    color: white;
    box-shadow: inset 0 -12px 0;
    animation: gg-bar 1.5s ease infinite alternate;
}
.gg-loadbar-sound {
    position: absolute;
    transform: scale(var(--ggs,1.4)) translate(-50%, -50%);
    left: 33px;
    top: 0px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s visibility 0s opacity 10s;
    transition-delay: 1s;
}

#volumeSlider:hover .gg-loadbar-sound {
  visibility: visible;
  opacity: 1;
  margin-top: 80px;
  transition-delay: 0.3s;
}

.gg-loadbar-sound::after,
.gg-loadbar-sound::before {
    content: "";
    position: absolute;
    bottom: 0
}
.gg-loadbar-sound::before {
    left: -4px;
    animation-delay: -2.0s;
}
.gg-loadbar-sound::after {
    right: -4px;
    animation-delay: -3.7s;
}
